# Stripe

STRIPE_API_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=


# Next Auth

NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
JWT_SIGNING_PRIVATE_KEY=

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=mongodb://username:password@127.0.0.1:27017/database_name?synchronize=true&retryWrites=true&w=majority


# Github

GITHUB_ID=
GITHUB_SECRET=


# FaunaDB

FAUNADB_KEY=


# Prismic CMS

PRISMIC_ACCESS_TOKEN=